html{
    font-family: 'Times New Roman', Times, sans-serif;
    background-image: url(Imagenes/Cerberus-Guarding-The-Underworld.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

nav{
    padding: 30px;
}

nav ol{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
    margin-right: 40px;
    background-color: aqua;
}

nav a{
    text-decoration: none;
}

header{
    background-color: antiquewhite;
    opacity: 0.7;
}

.materias1{
    padding: 20px;
}

.mate{
    padding: 20px;
}

footer{
    padding: 50px 0;
    text-align: center;
    background-color: #ece5e5;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    height: 50px;
    position: fixed;
    opacity: 0.8;
}

footer div {
    margin-bottom: 10px;
}

footer a{
    color: #007BFF;
    font-size: 16px;
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    font-size: 15px;
    color: #333;
}

.pie-de-pagina {
    background-color: #f0e7e7;
    color: white;
    padding: 20px 0; 
}


img{
    display: block;
    width: 20%;
    height: 20%;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

.cente{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 20px;
}

article h4{
    text-align: center;
}