html{
    font-family: 'Times New Roman', Times, sans-serif;
    background-image: url(../Imagenes/Cerberus-Guarding-The-Underworld.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: antiquewhite;
    opacity: 0.7;
}

h1{
    text-align: center;
}

nav{
    padding: 10px;
}

nav ol{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
    margin-right: 40px;
    background-color: aqua;
}

nav a{
    text-decoration: none;
}